.rubik-300 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300 !important;
  font-style: normal;
}

.rubik-600 {
  font-family: "Rubik", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 600 !important;
  font-style: normal;
}

.app-container {
  height: 100dvh;
}

.app-title {
  text-align: center;
  color: #2d3436;
  margin-bottom: 24px;
  font-size: 2rem;
}

.tasks-list {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.task-title {
  margin-right: 1rem;
}

.modal-title {
  font-size: 1.5rem !important;
}

.ant-list-pagination {
  direction: ltr !important;
}

.edit-action {
  color: lightsalmon;
}

.delete-action {
  color: red;
}

.tasks-left {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.25rem !important;
}
