.rubik-300 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300 !important;
  font-style: normal;
}

.app-container {
  height: 100dvh;
}

.app-title {
  text-align: center;
  color: #2d3436;
  margin-bottom: 24px;
  font-size: 2rem;
}

.tasks-list {
  display: flex;
  justify-content: center;
  max-height: 435px;
  margin-top: 2rem;
}

.task-title {
  margin-right: 1rem;
}
